<% provide :title, t("home.title") %>
<h1><%= t "home.title" %></h1>
<p>
  <%= t "home.content_1" %>
  <%= link_to t("home.content_2"), "http://www.railstutorial.org/"%>
  <%= t "home.content_3" %>
</p>

